<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bankcore.account.repository.AccountMapper">
    <resultMap id="AccountResult" type="com.bankcore.account.model.Account">
        <id property="accountId" column="account_id"/>
        <result property="customerId" column="customer_id"/>
        <result property="currency" column="currency"/>
        <result property="balance" column="balance"/>
        <result property="availableBalance" column="available_balance"/>
        <result property="openedAt" column="opened_at"/>
    </resultMap>

    <select id="findById" parameterType="string" resultMap="AccountResult">
        SELECT account_id, customer_id, currency, balance, available_balance, opened_at
        FROM accounts
        WHERE account_id = #{accountId}
    </select>

    <select id="findAll" resultMap="AccountResult">
        SELECT account_id, customer_id, currency, balance, available_balance, opened_at
        FROM accounts
        ORDER BY opened_at DESC
    </select>

    <insert id="insert" parameterType="com.bankcore.account.model.Account">
        INSERT INTO accounts(account_id, customer_id, currency, balance, available_balance, opened_at)
        VALUES(#{accountId}, #{customerId}, #{currency}, #{balance}, #{availableBalance}, #{openedAt})
    </insert>

    <update id="update" parameterType="com.bankcore.account.model.Account">
        UPDATE accounts
        SET balance = #{balance},
            available_balance = #{availableBalance}
        WHERE account_id = #{accountId}
    </update>
</mapper>
